<% include ./partial/header %> <% include ./partial/hrfunction %>


<div class="col-sm-6" style="    flex: 0 0 50%;
    max-width: 50%;
    margin-left: 800px;
    margin-top: -150px;">
    <div class="thumbnail">
        <p>
            AboutUsHr <br>
            We set people free to do great work.<br>
            LMS software collects and organizes all the information you gather throughout the employee life cycle, and then helps you use it to achieve great things. <br>
            Whether you’re hiring, onboarding, preparing compensation, or building culture, LMS gives you the tools and insights to focus on your most important asset—your people.<br>
        </p>
    </div>
</div>
</div>
</div>

<% include ./partial/footer %>
