<% include ./partial/header %> <% include ./partial/employeefunction %>


<div class="col-sm-6" style="    flex: 0 0 50%;
    max-width: 50%;
    margin-left: 800px;
    margin-top: -200px; ">
    <div class="thumbnail">
        <p>
            ContactUsEmployee <br>
            <b> Address</b> <br>
            75 Saint Alphonsus Street <br>
            Boston, MA, 02120 <br>
            USA    <br>

        </p>
    </div>
</div>
</div>
</div>

<% include ./partial/footer %>
